---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PlotlineThread from '../../components/PlotlineThread.astro';
import plotlines from '../../data/plotlines.json';
---

<BaseLayout title="The Plot">
  <h1>The Plot</h1>
  <p>The plotlines uncovered so far, by thread.</p>
  {plotlines.threads.map((thread) => (
    <PlotlineThread name={thread.name} cards={thread.cards} />
  ))}
</BaseLayout>
